<div class="container mt-4">
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Add</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Manage</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <form [formGroup]="userForm" (ngSubmit)="SubmitForm()">
            <div class="row d-flex">
                <div class="form-group col-md-6">
                <label for="formGroupExampleInput">Name</label>
                <input type="text" class="form-control" name="Name" formControlName="Name" id="formGroupExampleInput" placeholder="Enter Name">
                </div>
                <div class="form-group col-md-6">
                <label for="formGroupExampleInput2">Age</label>
                <input type="number" class="form-control" name="Age" formControlName="Age" id="formGroupExampleInput2" placeholder="Enter Age">
                </div>
             </div>

             <div class="row mt-2 d-flex btnClass">
                <div class="col-md-6">
                     <button type="submit" class="btn btn-primary">Add</button>
                </div>
               <div class="col-md-6">
                    <button type="reset" class="btn btn-primary">Reset</button>
                </div>
             </div>
          </form>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of users">
                <th scope="row">{{item.Name}}</th>
                <td>{{item.Age}}</td>
                <td>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
  
</div>
